<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringLabApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="ACTIVE_PROFILES" value="dev" />
    <module name="spring-lab" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.springlab.SpringLabApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>